.container {
  width: 60vw;
  margin: 0 auto 0 0;
  padding-left: 20vw;
}

.plates {
  position: fixed;
  top: var(--corner-padding);
  left: var(--corner-padding);
  user-select: none;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  position: fixed;
  bottom: var(--corner-padding);
  left: var(--corner-padding);
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toggleItself {
  user-select: none;
  cursor: pointer;
}

.inline {
  display: flex;
  align-items: center;
}

.exerciseItem {
  cursor: pointer;
}

.exerciseItem.active {
  font-weight: 700;
}

.stats {
  padding: var(--corner-padding) 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.date {
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
}

.exercises {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.exercise {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.label {
  font-weight: 700;
  white-space: nowrap;
}

.note {
  font-style: italic;
}

@media (max-width: 750px) {
  
  .container {
    width: 100%;
    padding: calc(var(--corner-padding) * 2) var(--corner-padding) calc(var(--corner-padding) * 2.5) var(--corner-padding);
  }

  .stats {
    display: flex;
    flex-direction: column;
  }

  .date {
    text-align: left;
  }

  .inline {
    flex-wrap: wrap;
  }

  .exercises {
    padding-bottom: 2.5rem;
  }
}